location = <!DOCTYPE html>
<html>
    <head>
        <title>AR UTARS  |  Setup A New Test</title>
        
  

    </head>

    <body>
        <h1>New Test</h1>
        <h5>Configure Setup</h5>
        
        <div class="center2">
            <p><center><h4>Select keyboard to test</h4></center></p>
            <p>
                <center>
                    <select>
                        <!-- show all keyboard options -->
                        <!-- the following four hard-coded values are place holders -->
                        <% for @kbrd in @kbrds %>
                            <option value = @kbrd.name><%= @kbrd.name %></option>
                        <% end %>
                    </select>
                </center>
            </p>
            <br><br><br>
            <p>
                <center>
                    <h4>Select Test Suite</h4>
                    <select>
                        <!-- show all test suites -->
                        <% for @testsuite in @ts %>
                        <option value = @testsuite.name><%= @testsuite.name %></option>
                        <% end %>
                    </select>
                    <br><br>
                    <button class="btn btn-primary" type="submit" >Start Test</button>
                </center>
            </p>
        </div>
    </body>   
</html>

