location = <!DOCTYPE html>
<html>
    <head>
        <title>AR UTARS  |  Setup A New Test</title>
    </head>

    <body>
        <h1>New Test</h1>
        <h5>Configure Setup</h5>
        
        <br><br>
        <p>
            <h4>Select keyboard to test</h4>
            <select>
                <!-- show all keyboard options -->
                <!-- the following four hard-coded values are place holders -->
                <% for @kbrd in @kbrds %>
                    <option value = @kbrd.name><%= @kbrd.name %></option>
                <% end %>
            </select>
        </p>
        
        <br><br>
        
        <p>
            <button type="button" onclick="alert('Click enter on your physcial keyboard to proceed to next word.')";"window.> Start Test </button>
            <input type="button" onclick="window.location = '/publish'">
        </p>

    </body>

    
</html>
''