location = <!DOCTYPE html>
<html>
    <head>
        <title>AR UTARS  |  Setup A New Test</title>
    </head>

    <body>
        <h1>New Test</h1>
        <h5>Configure Setup</h5>
        
        <div class="center2">
            <p><center><h4>Select keyboard to test</h4></center></p>
            <p>
                <center>
                    <select id="keyboard">
                        <!-- show all keyboard options -->
                        <!-- the following four hard-coded values are place holders -->
                        <% for @keyboard in @keyboards %>
                            <option value="<%= @keyboard.name %>"><%= @keyboard.name %></option>
                        <% end %>
                    </select>
                </center>
            </p>
            <br><br><br>
            <p>
                <center>
                    <h4>Select Test Suite</h4>
                    <select id="suite">
                        <!-- show all test suites -->
                        <% for @testsuite in @test_suites %>
                        <option value="<%= @testsuite.id %>"><%= @testsuite.name %></option>
                        <% end %>
                    </select>
                    <br><br>
                    <form action="/testing/index"><button id="btnSetup" class="btn btn-primary" type="submit" >Start Test</button></form>
                </center>
            </p>
        </div>

        <script>
        
        $('form').submit( function(e) {
        
            e.preventDefault();
            var keyboard = $('#keyboard').val();
            var script = 'StandardKeyboard';
            if(keyboard != 'Standard') {
                script = 'PeripheralKeyboard'
            }
            window.location.href = "/testing/index?k=" + script + "&p=" + $('#suite').val();

        });
        </script> 

    </body>   
</html>

