

<head>
    <style media="screen" type="text/css">

Add style rules here
    .left {
      float: left;
      width: 200px;
      text-align: r   margin: 2px 10px;
      display: inline;
    }

    .right {
      float: right;
      text-align: center;
      margin: 2px 10px;
      display: inline;
    }
    </style>
</head>


<h2>Welcome</h2>
Administrator Homepage

<!-- add links for "logout" and "edit profile" at the top of the view -->


<!-- first, determine if the current auth_user is an admin or a user and display the appropriate buttons/links -->

<!-- if auth_user is an admin, display "Manage User Attributes" button, "Analyze Test Data" button, and "Manage Tests" button -->

<!-- add analytics button, this should be top and cetered -->
<br>

<center>
    <a href="/analytics_general/index"><img style="border:0;" src="/assets/ViewAnalyticsIcon.png"" alt="View Analytics" width="175" height="175"></a>
    <br>
    <h4>
        View Analytics
    </h4>
</center>
<br>                                                                                                                                                
<br>
<br>

<span>
<div class="right">                                                                                                                                                
    <a href="/user_attributes"><img style="border:0;" src="/assets/circIconResources.png"" alt="Manage User Attributes" width="175" height="175"></a> 
</div>
</span>
<span>
<div class="left">
    <a href="/user_attributes"><img style="border:0;" src="/assets/UserAttributesIcon.png"" alt="Manage User Attributes" width="175" height="175"></a>
</div>
</span>
<br>
<div class="right">
    <h4>Manage Tests</h4>
</div>
<div class="left">
    <h4>Manage User Attributes</h4>
</div>
         
<style type="text/css">
div.inline { float:left; }
.clearBoth { clear:both; }
</style>
<div class="inline"><a href="/user_attributes"><img style="border:0;" src="/assets/circIconResources.png"" alt="Manage User Attributes" width="175" height="175"></a></div>
<div class="inline"><a href="/user_attributes"><img style="border:0;" src="/assets/UserAttributesIcon.png"" alt="Manage User Attributes" width="175" height="175"></a></div>
<br class="clearBoth" /><!-- you may or may not need this -->
    
<!-- add manage user attributes and manage tests buttons, they should be lower than analytics and on the same level as each other -->
    





<!-- else if auth_user is a user, display "New Test" button -->