<!DOCTYPE HTML>
<!-- Homepage Index View -->
<html>
    

<head>
    <title>AR UTARS  |  Homepage</title>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/Chart.js/0.2.0/Chart.min.js"></script>
</head>
<body>


<h1>Welcome</h1>
<h4>Administrator Homepage</h4>

<p>

<% if @is_an_admin %>
    Hey, admin!
<% else %>
    Hey, user!
    <%= @is_an_admin %>
<% end %>
    
</p>

<%= @x %>

<!-- if auth_user is an admin, display "Manage User Attributes" button, "Analyze Test Data" button, and "Manage Tests" button -->

<!-- add analytics button, this should be top and cetered -->
<br>

<% if @is_an_admin %>
<center>
    <a href="/analytics_general/index"><img style="border:0;" src="/assets/ViewAnalyticsIcon.png" alt="View Analytics" width="175" height="175"></a>
    <br><br>
    <form action="/analytics_general/index"><button class="btn btn-primary" type="submit" >View Analytics</button></form>
</center>
<br>                                                                                                                                                
<br>
<br>

<span>
<div class="right">                                                                                                                                                
    <a href="/test_manager/index"><img style="border:0;" src="/assets/ManageTestsIcon.png" alt="Manage User Attributes" width="175" height="175"></a> 
</div>
</span>
<span>
<div class="left">
    <a href="/attributes"><img style="border:0;" src="/assets/UserAttributesIcon.png" alt="Manage User Attributes" width="175" height="175"></a>
</div>
</span>
<br><br><br><br><br><br><br><br><br><br>
<div class="right">
    <form action="/test_manager/index"><button class="btn btn-primary" type="submit" >Manage Tests</button></form>

</div>
<div class="left">
    <form action="/attributes"><button class="btn btn-primary" type="submit" >Manage User Attributes</button></form>

</div>
             
<!-- add manage user attributes and manage tests buttons, they should be lower than analytics and on the same level as each other -->

<!-- else if auth_user is a user, display "New Test" button -->
<% else %>
    <center>
        <a href="/test_setup/index"><img style="border:0;" src="/assets/NewTestIcon.png" alt="Setup New Test" width="175" height="175"></a>
        <br>
        <h4>
            Setup New Test
        </h4>
    </center>
<% end %>
    </body>
    </html>