<!DOCTYPE HTML>
<!-- Homepage Index View -->
<html>
    

<head>
    <title>AR UTARS  |  Homepage</title>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/Chart.js/0.2.0/Chart.min.js"></script>
</head>
<body>


<h1>Welcome</h1>
<h4>Administrator Homepage</h4>

<p>

<% if @is_an_admin %>
    Hey, admin!
<% else %>
    Hey, user!
    <%= @is_an_admin %>
<% end %>
    
</p>

<%= @x %>

<!-- if auth_user is an admin, display "Manage User Attributes" button, "Analyze Test Data" button, and "Manage Tests" button -->

<!-- add analytics button, this should be top and cetered -->
<br>

<% if @is_an_admin %>
    <div class="farLeft">
        <div class="analyticsDashContainer">
            <font color="white">
            <h3>Keyboards: <%= @kbrds.count %></h3>
            <hr width="62%">
            <h3>Users: 6 active</h3><br><br>
        </font>
        <a href="/analytics_general/index"><img style="border:0;" src="/assets/ViewAnalyticsIcon.png" alt="View Analytics" width="175" height="175"></a>
        <br><br><br><br>
        <form action="/analytics_general/index"><button class="btn btn-xlarge btn-primary" type="submit" >View Analytics</button></form>
        </div>
    </div>

    <div class="right">
        <div class="othersDashContainer">
            <br>
            <!-- <div class="left"> -->
            <table class="thisone">
                <tr>
                    <th><font color="white">
                        <center>
                            <h3>Test Suites: <%= @ts.count %></h3>
                            <form action="/test_manager/index"><button class="btn btn-primary" type="submit" >Manage Tests</button></form>
                        </center>
                    </font></th>
                    <th>
                        <a href="/test_manager/index"><img style="border:0;" src="/assets/ManageTestsIcon.png" alt="Manage User Attributes" width="140" height="140"></a>
                    </th>
                </tr>

                <tr><th><hr width="200%"></th></tr>

                <tr>
                    <th>
                        <center>
                        <font color="white">    
                            <h3>User Attributes: </h3>
                            <form action="/attributes"><button class="btn btn-primary" type="submit" >Manage User Attributes</button></form>
                        </font>
                        </center>
                    </th>
                    <th>
                        <a href="/attributes"><img style="border:0;" src="/assets/UserAttributesIcon.png" alt="Manage User Attributes" width="140" height="140"></a>
                    </th>
                    
                </tr>
            </table>
            <!-- </div> -->
        </div>
    </div>
    <a href="/analytics_general/index"><img style="border:0;" src="/assets/uploadIcon-01.png" alt="Upload" width="175" height="175"></a>
            <br><br><br><br>
            <form action="/analytics_general/index"><button class="btn btn-xlarge btn-primary" type="submit" >Upload</button></form>
    <a href="/analytics_general/index"><img style="border:0;" src="/assets/downloadIcon-01.png" alt="Download" width="175" height="175"></a>
            <br><br><br><br>
            <form action="/analytics_general/index"><button class="btn btn-xlarge btn-primary" type="submit" >Download Data</button></form>

             
<!-- add manage user attributes and manage tests buttons, they should be lower than analytics and on the same level as each other -->

<!-- else if auth_user is a user, display "New Test" button -->
<% else %>
    <center>
        <a href="/test_setup/index"><img style="border:0;" src="/assets/NewTestIcon.png" alt="Setup New Test" width="175" height="175"></a>
        <br>
        <h4>
            Setup New Test
        </h4>
    </center>
<% end %>
    </body>
    </html>