// Place all the styles related to the HomePage controller here.
// They will automatically be included in application.css.
// You can use Less here: http://lesscss.org/



.left {
    float: positioned;
    position: absolute;
    margin: 2px 10px;
    left: 25%;
    display: inline;
}

.right {
    float: positioned;
    position: absolute;
    margin: 2px 10px;
    left: 75%;
    display: inline;
}
        