<!DOCTYPE HTML>
<!-- analytics_comparative page -->
<html>
<head>
    <title>AR UTARS Analytics  |  Comparative</title>
    <script type="text/javascript"> 
        function getSelectedValue() {
            var sec = document.getElementById('secondary');  
            var secFilter = sec.options[sec.selectedIndex].value;
            var sec2 = document.getElementById('primary');
            var primFilter = sec2.options[sec2.selectedIndex].value;
            applyMainFilter(secFilter, primFilter);
            return sec;
                    
        }  
    </script>
</head>

<body>

    <h1>Analytics</h1>
    <h4>View Data Comparisons </h4>

    <!-- Create the segmented navigation control -->
    <center>
        <nav class="segmented-button">
          <input type="radio" name="seg-1" value="General" id="seg-General">
          <label for="seg-General" class="first">General</label>
          <input type="radio" name="seg-2" value="Specific Tests" id="seg-Specific">
          <label for="seg-Specific">Specific Tests</label>
          <input type="radio" name="seg-3" value="Comparative" id="seg-Compare" checked>
          <label for="seg-Compare" class="last">Comparative</label>
        </nav>
    </center>

    <!-- listen and respond for a click on the segmented control -->
    <script type="text/javascript">
        $("input[name=seg-1]").click(function(){
            window.location.href = '/analytics_general/index';
        });
        $("input[name=seg-2]").click(function(){
            window.location.href = '/analytics_specific/index';
        });
        $('.segmented-button label').click(function(evt){
            evt.stopPropagation();
            window.location.href = '/home_page/index';
        });
    </script>
    
    <!-- Create Initial Filters -->
    <table align="center">
        <tr>
            <td><h4>filter:&nbsp;</h4></td>
            <td>
                <h4><select name="primary" id="primary">
                    <option value="correctness">Correctness</option>
                    <option value="speed">Speed</option>
                    <option value="perceptions">User Perceptions</option>
                </select></h4>
            </td>
            
            <td><h1>&nbsp;</h1></td><td><h1>&nbsp;</h1></td><td><h1>&nbsp;</h1></td>
            <td>
                <h4>by:&nbsp;</h4>
            </td>
            <td>
                <h4><select name="secondary" id="secondary">
                    <option value="keyboards">Keyboards</option>
                    <option value="tests">Test Suites</option>
                    <option value="attributes">User Attributes</option>
                </select></h4>
            </td>
            <td><h1>&nbsp;</h1></td><td><h1>&nbsp;</h1></td><td><h1>&nbsp;</h1></td>
            <td>
                
            </td>
            <td>
                <button class="btn btn-primary" type="submit" onclick="getSelectedValue();">apply filters</button>
            </td>
        </tr>
    </table>

    <br><br>
    
    <!-- placeholder for the sub filters -->
    <div class="subFiltersContainer">
        
    </div>
    
    <!-- placeholder for the two comparison containers -->
    <div class="comparisonContainer">
                
    </div>
   
    
</body>
</html>