<!DOCTYPE HTML>
<!-- analytics_specific page -->
<html>
<head>
    <title>AR UTARS Analytics  |  Specific</title>
</head>

<body>

    <h1>Analytics</h1>
    <script type="text/javascript">
        
        
        
        function(ka){
            window.alert(pageMode);    
        }
        
        function(ta){
            window.alert(pageMode);  
        }
        
        
          
    </script>
    
    <h4>View Specific Test Results <span id="pageIdText"></span></h4>

    <!-- display the nagivation segmented control -->
    <center>
        <nav class="segmented-button">
          <input type="radio" name="seg-1" value="General" id="seg-General">
          <label for="seg-General" class="first">General</label>
          <input type="radio" name="seg-2" value="User" id="seg-User">
          <label for="seg-User">Results by User</label>
          <input type="radio" name="seg-3" value="Keyboard" id="seg-Keyboard">
          <label for="seg-Keyboard">Results by Keyboard</label>
          <input type="radio" name="seg-4" value="Test" id="seg-Test">
          <label for="seg-Test">Results by Test</label>
          <input type="radio" name="seg-5" value="Comparative" id="seg-Compare">
          <label for="seg-Compare" class="last">Comparative</label>
        </nav>
    </center>

    <!-- Detect when a navigation segmented is selected and navigate to that page -->
    <script type="text/javascript">
        $("input[name=seg-1]").click(function(){
            window.location.href = '/analytics_general/index';
        });
        $("input[name=seg-5]").click(function(){
            window.location.href = '/analytics_comparatif/index';
        });
<<<<<<< HEAD
        $("input[name=seg-2]").click(function(setPageMode){
            pageMode = "User";
            document.getElementById("pageIdText").innerHTML="by User";;
        });
        $("input[name=seg-3]").click(function(KeyboardAnalysis){
            pageMode = "Keyboard";
            document.getElementById("pageIdText").innerHTML="by Keyboard";
        });
        $("input[name=seg-4]").click(function(TestAnalysis){
            pageMode = "Test";
            document.getElementById("pageIdText").innerHTML="by Test";
        });
=======
>>>>>>> 4da20abdc8c84f2a6f394ac87b003c319e70dbea
    </script>
    <hr />
    
    <script type="text/javascript">   
        if pageMode = "User"
    </script>
    
    
    
    <br>
    <div class="left1">
    <h4>Filter By:</h4>
    
    <!-- Create "Filter By:" segmented control -->
        <table>
            <td>
            <tr><th>
                <input id="Keyboard" type="button" value="Keyboard" onclick="loadKeyboardFilter();"/>
            </th></tr>
            <tr><th>
                <input id="Test Suite" type="button" value="Test Suite" onclick="loadTestsuiteFilter();"/>
            </th></tr>
            <tr><th>
                <input id="User" type="button" value="User" onclick="loadUserFilter();"/>
            </th></tr>
                </td>
        </table>
        

    <div class="filterContainer">
        <div class="filterTbl"></div>
    </div>
    </div>
</body>
</html>