<!DOCTYPE HTML>
<!-- analytics_specific page -->
<html>
<head>
    <title>AR UTARS Analytics  |  Specific</title>
</head>

<body>

    <h1>Analytics</h1>
    <h4>View Specific Test Results</h4>


    <center>
        <nav class="segmented-button">
          <input type="radio" name="seg-1" value="General" id="seg-General">
          <label for="seg-General" class="first">General</label>
          <input type="radio" name="seg-2" value="Specific Tests" id="seg-Specific" checked>
          <label for="seg-Specific">Specific Tests</label>
          <input type="radio" name="seg-3" value="Comparative" id="seg-Compare">
          <label for="seg-Compare" class="last">Comparative</label>
        </nav>
    </center>


    <script type="text/javascript">
        $("input[name=seg-1]").click(function(){
            window.location.href = '/analytics_general/index';
        });
        $("input[name=seg-3]").click(function(){
            window.location.href = '/analytics_comparatif/index';
        });
        $('.segmented-button label').click(function(evt){
            evt.stopPropagation();
            window.location.href = '/home_page/index';
        });
    </script>
    
</body>
</html>