<html>
    <head>
        <!-- using google chart powered by chartkick -->
        <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
    </head>
    <body>

        <h1>Analytics</h1>
        <h4>Application Overview</h4>

        <!-- Create the segmented navigation controls -->
        <center>
            <nav class="segmented-button">
                <input type="radio" name="seg-1" value="General" id="seg-General" checked>
                <label for="seg-General" class="first">General</label>
                <input type="radio" name="seg-2" value="Specific Tests" id="seg-Specific">
                <label for="seg-Specific">Specific Tests</label>
                <input type="radio" name="seg-3" value="Comparative" id="seg-Compare">
                <label for="seg-Compare" class="last">Comparative</label>
            </nav>
        </center>
        <!-- Detect when a button on the segmented control is clicked -->
        <script type="text/javascript">
        $("input[name=seg-2]").click(function(){
            window.location.href = '/analytics_specific/index';
        });
        $("input[name=seg-3]").click(function(){
            window.location.href = '/analytics_comparatif/index';
        });
        $('.segmented-button label').click(function(evt){
            evt.stopPropagation();
            window.location.href = '/home_page/index';
        });
    </script>
        
        <!-- Make a horizontally scrollable div to contain all of the chartContainers -->
        <div style='overflow-x:scroll;overflow-y:scroll;width:100%;height:600px', id="scrollie">
            <table class="ex1">
            <% i = 0 %>
            <!-- For each keyboard -->
            <% @kbrds.each do |kbrd| %>
                <td>
                    <div class="chartContainer">
                        <h3><%= kbrd.name %></h3>
                        <br>
                        <center><h6>Number of tests completed</h6></center>
                        <!-- Create the chart -->
                        <%= column_chart @mtx[i], colors: ["green", "blue"] %>
                    </div>
                </td>
                <br>
                <% i = i+1 %>
            <% end %>
    
            </table>
            <!-- For debugging/testing purposes, this displays what is in the general analytics matrix -->
            <% @mtx.each do |mt| %>
                <%= mt %>
            <% end %>
        </div>
        <script>
            var objDiv = document.getElementById("scrollie");
            objDiv.scrollTop = objDiv.scrollHeight;
        </script>
 
    </body>
</html>