<div id="mainContent">
    <table>
      <tr>
        <td>            
          <div id="textWord">
              <form>
              <h2>Target Words: <input type="text" id="targetWord" /></h2><br /> 
              <h2>Output Words: <input type="text" id="outputWord" /></h2><br />
              </form>
	        </div>
        </td>
        <td>
        <div id="ProgressBarSide" style="width: 200px; color: green; border-width: 1px; border-style: Solid; display: none">
            <div id="ProgressBar" style= "height: 30px; width: 0%; background-color: #3366FF">
            </div>
            <div id="ProgressText" style="height: 30px; width: 100%;text-align:center; ">
            </div>
            <br />
            <input id="btnGo" type="button" onclick="Redirect();" value="button" />
        </div>
        </td>
      </tr>
    </table>
<div id="container"></div>
    <script type="text/javascript" id="scriptKB"></script>
    <script type="text/javascript">
        var testingWords;
        var wordIndex;
        var correctCount;
        function Redirect() {
            window.location.href = "www.google.com";
        }
        function SetProgressBar(pos) {
            ProgressBarSide.style.display = "";

            var per = Math.round(pos * 100 / testingWords.length);
            ProgressBar.style.width = per + "%";
            ProgressText.innerText = pos + "/" + testingWords.length;
        }
        function ReceiveUrlParameters() {
            var urltxt = window.location.href;
            var position = urltxt.indexOf("?kb=");
            urltxt = urltxt.substr(position + 4, urltxt.length - position - 4);

            var parameters = urltxt.split("&p=");
            var scrpt = document.getElementById("scriptKB");
            var newparams = parameters[0].split("k=");
            scrpt.src = "/assets/" + newparams[1] + ".js"; 

            testingWords = parameters[1].split(';');

            wordIndex = 0;
            correctCount = 0;
            var txtTarget = document.getElementById("targetWord");
            txtTarget.value = testingWords[0];

            SetProgressBar(wordIndex);
        }
        function Output(message) {
            var txtOutput = document.getElementById("outputWord");
            txtOutput.value = message;
        }
        function OnEnter() {
            var txtOutput = document.getElementById("outputWord").value;
            if (txtOutput.toLowerCase() == testingWords[wordIndex].toLowerCase())
                correctCount++;

            if (++wordIndex >= testingWords.length) {
                SetProgressBar(wordIndex);
                alert("finished! correct: " + correctCount + ", total:" + testingWords.length);
                return;
            }

            var txtTarget = document.getElementById("targetWord");
            txtTarget.value = testingWords[wordIndex];
            SetProgressBar(wordIndex);
        }
        </script>
   