
<script>
    $(document).ready(function(){
        $('a.next-button').click(function() {
            submitWord()
            return false;
        });
    });
</script>

<%= hidden_field_tag "theUrl", root_url, { :id => "theUrl" } %>

<%= hidden_field_tag "theWords", @words.to_json, { :id => "theWords" } %>
<%= hidden_field_tag "testSession", @test_session.to_json, { :id => "testSession" } %>

<div id="mainContent">
    <table>
      <tr>
        <td>            
          <div id="textWord">
              <form>
                  <h2>Target Words: <input type="text" id="targetWord" style=" border-color: green"/></h2><br /> 
                  <h2>Output Words: <input type="text" id="outputWord" style=" border-color: green" /></h2><br />
              </form>
	        </div>
        </td>
          <td>
            <div id="ProgressText" style="height: 100%; width: 100%;text-align:center; font-size:50; "></div>
          </td>
        </tr>
    </table>
    <div id="container"></div>
    <script type="text/javascript" id="scriptKB"></script>
    <%= link_to "Next", '#', :id => "submit", :class => "btn btn-primary next-button", :remote => true %>
</div>

