<div id="mainContent">
    <table>
        <tr>
            <td>            
                <div id="textWord">
                    <form>
                        <h2>Target Words: <input type="text" id="targetWord" /></h2><br /> 
                        <h2>Output Words: <input type="text" id="outputWord" /></h2><br />
                    </form>
                </div>
            </td>
            <td>
                <div id="ProgressBarSide" style="width: 200px; color: green; border-width: 1px; border-style: Solid; display: none">
                    <div id="ProgressBar" style= "height: 30px; width: 0%; background-color: #3366FF"></div>
                    <div id="ProgressText" style="height: 30px; width: 100%;text-align:center; "></div>
                    <br />
                    <input id="btnGo" type="button" onclick="Redirect();" value="button" />
                </div>
            </td>
        </tr>
    </table>

    <div id="container"></div>

    <script type="text/javascript" id="scriptKB"></script>
</div>